<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.musta.buyandsellinlebanon">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.notification.NotificationActivity"
            android:label="@string/notifications"></activity>

        <receiver
            android:name=".utils.MyBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="MyAction" />
                <!-- <action android:name="android.intent.action.INPUT_METHOD_CHANGED" /> -->
            </intent-filter>
        </receiver>

        <activity android:name=".ui.categories.dollar.DollarMarketActivity" />
        <activity
            android:name=".ads.dollarMarket.CreateDollarMarketActivity"
            android:label="@string/dollar_market" />
        <activity android:name=".ads.AdTypeTitleCreateActivity" />
        <activity android:name=".ui.categories.adsCategories.ShowAdsByAdTypeActivity" /> <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4259799291168125~9077575448" />

        <activity android:name=".ads.AdDetailActivity" />
        <activity android:name=".ui.categories.adsCategories.vehicles.categories.cars.ShowCarsAdsActivity" />
        <activity android:name=".ads.BeforeCreateAdActivity" />
        <activity android:name=".ui.categories.adsCategories.vehicles.categories.cars.CarsActivity" />
        <activity android:name=".ads.CreateAdActivity" />
        <activity android:name=".ui.categories.adsCategories.vehicles.VehiclesActivity" />
        <activity android:name=".ui.signin.LoginActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notifications_none_black_24dp" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <service
            android:name=".firebase.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>